@font-face {
    font-family: 'Death Star Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Death Star'), url('Death Star.woff') format('woff');
    }
h1{
    font-family: 'Death Star Regular';
    color: yellow;
    text-shadow: 2px 2px 4px #000000;
}

.covers {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

.coveron{
  width: 100px;
  height: 150px;
  margin: 2%;
  object-fit: cover;
  -ms-flex-item-align: center;
      align-self: center;
}